__pycache__/
.vscode/
#*.pkl
venv/
ccai.egg-info/
notebooks/diff_gif_imgs/*
*.pt
examples/wandb/*
wandb/*
data/experiments/imgs
data/experiments
data/value_functions
data/plots
examples/config/
data/test/initializations